@charset "utf-8";
/* CSS Document */
body
{
	padding:0px px;
	margin:0px 0px;
	font-size:16px;
	font-family:"Agency FB";
}
/***************head-part-open*******************************/
.head
{
	width:100%;
	float:left;
	min-height:55px;
	height:auto;
	background-color:#000;
}
.head-wreper
{
	width:1170px;
	margin:0px auto;
}
.email
{
	width: 220px;
	float:left;
}
.email img
{
	width: 30px;
	height: 30px;
	padding: 14px 7px;
	margin:0px 0px;
	float:left;
}
.email p
{
	padding: 20px 0px;
	margin:0px 0px;
	float:left;
	font-size: 17px;
	color:#FFF;
}
.phn
{
	width:250px;
	float:left;
}
.phn img
{
	width: 30px;
	height: 30px;
	padding: 14px 7px;
	margin:0px 0px;
	float:left;
}
.phn p
{
	padding: 20px 0px;
	margin:0px 0px;
	float:left;
	font-size: 17px;
	color:#FFF;
}
.social
{
	width: 200px;
	float:right;
}
.social ul
{
	padding: 14px 0px;
	margin:0px 0px;
	float:right;
}
.social ul li
{
	display:inline;
	float:left;
}
.social ul li a
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
}
.social ul li a img
{
	width:30px;
	height:30px;
	float:left;
	padding: 0px 3px;
	margin:0px 0px;
}
/***************head-part-close*******************************/

/***************header-part-open*******************************/
.header
{
	width:100%;
	float:left;
	min-height: 60px;
	height:auto;
	background-color:#FFF;
}
.header-wreper
{
	width:1170px;
	margin:0px auto;
}
.logo
{
	width:200px;
	float:left;
}
.logo img
{
	width: 120px;
	height: 60px;
	float:left;
	padding:0px 0px;
	margin:0px 0px;
}
.menu
{
	width: 500px;
	float:right;
}
.menu ul
{
	padding: 0px 0px;
	margin:0px 0px;
	float:left;
}
.menu ul li
{
	display:inline;
	float:left;
}
.menu ul li a
{
	color: #000;
	padding: 18px 20px;
	margin:0px 0px;
	float:left;
	text-decoration: none;
	font-size: 20px;
}
.menu ul li a:hover
{
	background-color:#09F;
	color:#FFF;
}
.active
{
	color:#F00 !important
}
/***************header-part-close*******************************/

/***************banner-part-open*******************************/
.banner
{
	width:100%;
	min-height:450px;
	height:auto;
	float:left;
	background-color:#999;
}
.banner-wreper
{
	width:1170px;
	margin:0px auto;
}
.my-pic
{
	width:400px;
	float:left;
}
.my-pic img
{
	width: 95%;
	height: 500px;
	float:left;
	padding:0px 0px;
	margin:0px 0px;
}
.my-name
{
	width: 700px;
	float:right;
	height: 425px;
	/*border:1px solid #060;*/
}
.my-name h1
{
	padding: 50px 0px 0px 115px;
	margin:0px 0px;
	float: left;
	width: 100%;
	font-family:Chiller;
	font-size: 60px;
	color:#F00;
	animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.my-name h2
{
	padding: 30px 0px 0px 17px;
	margin:0px 0px;
	float: left;
	font-family:"Agency FB";
	font-size: 40px;
	color:#FF0;
}
.my-name p
{
	padding: 24px 0px 0px 15px;
	margin:0px 0px;
	float: left;
	width: 77%;
	font-size: 18px;
	font-family:"Agency FB";
	color:#000;
	text-align:justify;
}	

.button
{
	width: 200px;
	float:left;
}
.button a
{
	text-decoration:none;
	padding: 8px 50px;
	margin: 35px 15px;
	float:left;
	box-shadow: 1px 1px 6px 2px #1490aa;
	font-family:"agency fb";
	border-radius: 10px;
	background-color: #f25a1b;
	color:#FFF;
	border-radius: 16px;
}
.button a:hover
{
	background-color:#0F0;
}
.button1
{
	width: 200px;
	float:left;
}
.button1 a
{
	text-decoration:none;
	padding: 8px 50px;
	margin: 35px 15px;
	float:left;
	box-shadow: 1px 1px 6px 2px #1490aa;
	font-family:"agency fb";
	border-radius: 10px;
	background-color: #f25a1b;
	color:#FFF;
	border-radius: 16px;
}
.button1 a:hover
{
	background-color:#0F0;
}	
/***************banner-part-close*******************************/

/***************about-part-open*******************************/


.about
{
	width:100%;
	min-height:450px;
	height:auto;
	float:left;
	background-color: #229a98;
}
.about-wreper
{
	width:1170px;
	margin:0px auto;
}
.about-wreper h3
{
	padding: 27px 0px 5px 0px;
	margin:0px 0px;
	text-align:center;
	font-size: 45px;
	font-weight: bold;
	color: #0b0b0b;
}
.about-wreper h4
{
	padding: 0px 0px;
	margin:0px 0px;
	text-align:center;
	font-size: 20px;
	color:#FFF;
}
.about-wreper p
{
	padding: 23px 150px;
	margin:0px 0px;
	text-align:center;
	font-size: 18px;
	color:#FFF;
}
.gol
{
	padding: 0px 0px;
	margin: 31px 6px 0px 0px;
	float:left;
	width: 580px;
	height: 185px;
	/*border:1px solid #063;*/
}
.gol h5
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	color:#FFF;
	font-size: 30px;
}
.gol span
{
	padding: 19px 0px;
	margin:0px 0px;
	float:left;
	font-size: 19px;
	color:#FFF;
}
.gol1
{
	padding: 0px 0px;
	margin: 31px 0px 0px 0px;
	float:left;
	width: 580px;
	height: 185px;
	/*border:1px solid #063;*/
}
.gol1 h5
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	color:#FFF;
	font-size: 30px;
}
.gol1 span
{
	padding: 19px 0px;
	margin:0px 0px;
	float:left;
	font-size: 19px;
	color:#FFF;
}
.Design
{
	width:100%;
	min-height:450px;
	height:auto;
	float:left;
	/*border-bottom::2px solid #063;*/
}
.Design-wreper
{
	width:1170px;
	margin:0px auto;
}
.wd
{
	width: 250px;
	padding: 0px 0px 0px 0px;
	margin: 0px 21px;
	float:left;
}
.wd a
{
	float:left;
	padding: 0px 0px;
	margin:0px 0px;
}

.wd a img
{
	width: 230px;
	height: 230px;
	float:left;
	padding: 21px 0px 10px 0px;
	margin:0px 0px;
}
.wd h2
{
	float: left;
	padding: 0px 0px 0px 40px;
	margin:0px 0px;
	color:#000;
	font-size: 30px;
}
.wd p
{
	padding: 19px 0px;
	margin:0px 0px;
	float:left;
	text-align: justify;
	font-size: 16px;
	color:#999;
}
/***************about-part-close*******************************/


/***************skill-part-close*******************************/
.skill
{
	width:100%;
	min-height: 500px;
	height:auto;
	float:left;
	background-color:#FC3;
	/*border-bottom::2px solid #063;*/
}
.skill-wreper
{
	width:1170px;
	margin:0px auto;
}
.skill-wreper h3
{
	padding: 27px 0px 5px 0px;
	margin:0px 0px;
	text-align:center;
	font-size: 45px;
	font-family: cursive;
	font-weight: bold;
	color: #FFF;
}
.html
{
	width: 50%;
	float:left;
	padding: 0px 0px;
	margin: 0px 0px;
}
.html h4
{
	float:left;
	padding: 10px 0px;
	margin: 0px 0px;
	font-size: 25px;
	width: 70%;
	color: #FFF;
}
.white
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width: 550px;
	border-radius: 10px;
	height: 25px;
	background-color:#FFF;
}
.black
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width:300px;
	border-radius: 10px;
	height: 25px;
	background-color:#000;
}
.css
{
	width: 50%;
	float:right;
	padding:0px 0px;
	margin:0px 0px;
}
.css h4
{
	float:left;
	padding: 10px 0px;
	margin:0px 0px;
	font-size: 25px;
	width:70%;
	color:#FFF;
}
.white
{
	padding:0px 0px;
	margin: 0px 0px 6px 0px;
	float:left;
	width: 550px;
	border-radius: 10px;
	height: 25px;
	background-color:#FFF;
}
.black
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width:50%;
	border-radius: 10px;
	height: 25px;
	background-color:#000;
}
.black1
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width:80%;
	border-radius: 10px;
	height: 25px;
	background-color:#000;
}
.black-pht
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width:70%;
	border-radius: 10px;
	height: 25px;
	background-color:#000;
}
.black-cd
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width:30%;
	border-radius: 10px;
	height: 25px;
	background-color:#000;
}
.black-php
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width:40%;
	border-radius: 10px;
	height: 25px;
	background-color:#000;
}
.black-seo
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width:90%;
	border-radius: 10px;
	height: 25px;
	background-color:#000;
}
/***************skill-part-close*******************************/

/***************Service-part-open*******************************/
.service
{
	width:100%;
	min-height: 700px;
	height:auto;
	margin: 15px 0px 15px 0px;
	float:left;
	background-color: #e05d6f;
	/*border-bottom::2px solid #063;*/
}
.service-wreper
{
	width:1170px;
	margin:0px auto;
}
.service-wreper h3
{
	padding: 27px 0px 5px 0px;
	margin:0px 0px;
	text-align:center;
	font-size: 45px;
	font-family: cursive;
	font-weight: bold;
	color: #FFF;
}
.time
{
	width: 345px;
	padding: 15px 0px 0px 0px;
	margin: 20px 22px;
	float:left;
	transition: 0.3s ease-in-out;
    border-radius: var(--border-radius);
}
.time a
{
	float:left;
	padding: 0px 0px;
	margin:0px 0px;
}

.time a img
{
	width: 100px;
	height: 100px;
	float:left;
	padding: 0px 120px;
	margin:0px 0px;
}
.time h2
{
	float: left;
	padding: 11px 70px;
	margin:0px 0px;
	color:#FFF;
	font-size: 28px;
}
.time h2:hover
{
	color:#000;
}
.time p
{
	padding: 0px 0px;
	margin:0px 0px;
	float:left;
	text-align: center;
	font-size: 21px;
	color:#FFF;
}
.time p:hover
{
	color:#000;
}
.time:hover
 {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    border-radius: var(--border-radius);

}
/***************Service-part-close*******************************/

/***************company-status-part-open*******************************/
.company
{
	width:100%;
	min-height: 450px;
	height:auto;
	float:left;
	background:url(../img/banner.jpg) no-repeat;
	/*border-bottom::2px solid #063;*/
	background-size:cover;
}
.company-wraper
{
	width:1170px;
	margin:0px auto;
}
.box-left
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
	width:555px;
	height:400px;
}
.box-left h3
{
	padding: 30px 0px 0px 0px;
	margin:0px 0px;
	text-align: center;
	color:#FFF;
	font-family: sans-serif;
	font-size: 35px;
}
.left
{
	padding: 0px 0px;
	margin: 76px 100px 0px 0px;
	float:left;
	width: 165px;
	height: 100px;
	/* border:1px solid #F00; */
}
.left img
{
	width: 30px;
	height: 30px;
	float:left;
	padding: 20px 0px;
	margin:0px 0px;
}
.left h4
{
	float: left;
	padding: 20px 0px 0px 17px;
	margin:0px 0px;
	color:#FFF;
	font-family: sans-serif;
	font-size: 35px;
	
}
.left p
{
	padding: 0px 0px 0px 15px;
	margin:0px 0px;
	float:left;
	text-align: center;
	font-size: 22px;
	color: #cdc5c5;
}
.box-right
{
	padding:0px 0px;
	margin:0px 0px;
	float:right;
	width:555px;
	height:400px;
}
.box-right h3
{
	padding: 30px 0px 50px 0px;
	margin:0px 0px;
	color:#FFF;
	text-align: center;
	font-family: sans-serif;
	font-size: 35px;
}
.box-right p
{
	padding: 25px 0px 0px 25px;
	margin:0px 0px;
	font-size: 20px;
	float: left;
	text-align: justify;
	color: #faf7f7;
}
.comt
{
	padding: 0px 0px 0px 0px;
	margin: 50px 0px 0px 25px;
	float:left;
	width: 272px;
	height: 140px;
	/*border:1px solid #F00;*/
}
.comt img
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float:left;
	width: 85px;
	height: 85px;
	border-radius:50%;
}
.comt span
{
	padding: 33px 0px 0px 0px;
	margin:0px 0px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	float: right;
	font-size: 22px;
}
.dt
{
	padding: 0px 0px 0px 0px;
	margin: 30px 0px 0px 0px;
	float:left;
	width: 10px;
	height: 10px;
	border:2px solid #FFF;
	border-radius:50%;
}
.dt1
{
	padding: 0px 0px 0px 0px;
	margin: 30px 0px 0px 5px;
	float:left;
	width: 14px;
	height: 14px;
	background-color:#FFF;
	border-radius:50%;
}
/***************company-status-part-close*******************************/

/***************portfolio-part-open*******************************/

.portfolio
{
	width:100%;
	min-height: 570px;
	height:auto;
	margin: 0px 0px;
	float:left;
	background-color: #FFF;
	border-bottom::2px solid #063;
}
.portfolio-wraper
{
	width:1170px;
	margin:0px auto;
}
.portfolio-wraper h4
{
	padding: 27px 0px 5px 0px;
	margin:0px 0px;
	text-align:center;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bold;
	color: #2edd31;
}
.pt
{
	padding: 0px 0px 0px 0px;
	margin: 60px 0px 0px 20px;
	float:left;
	width: 272px;
	height: 140px;
	transition: 0.3s ease-in-out;
    border-radius: var(--border-radius);
	/*border:1px solid #F00;*/
}
.pt a
{
	padding:0px 0px;
	margin:0px 0px;
	float:left;
}
.pt a img
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float:left;
	width: 260px;
	height: 163px;
}
.pt a img:hover
 {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    border-radius: var(--border-radius);
}
/***************portfolio-part-close*******************************/


/*************msg-part-open*******************************/
.Msg
{
	width:100%;
	min-height: 770px;
	height:auto;
	margin: 0px 0px;
	float:left;
	background-color:#090;
	border-bottom::2px solid #063;
}
.Msg-wraper
{
	width:1170px;
	margin:0px auto;
}
.msg-icon
{
	padding: 0px 0px 0px 0px;
	margin: 40px 70px;
	float:left;
	width: 250px;
	height: 150px;
	/* border:1px solid #F00; */
}
.msg-icon img
{
	padding: 0px 95px;
	margin: 0px 0px 20px 0px;
	float:left;
	width: 50px;
	height: 65px;
}
.msg-icon p
{
	padding: 27px 0px 0px 0px;
	margin:0px 0px;
	color:#FFF;
	line-height: 30px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.msg-box
{
	float:left;
	width: 385px;
}
.msg-box input
{
	padding: 10px 10px;
	margin: 0px 0px 0px 0px;
	float:left;
	width: 330px;
	border: none;
}
.msg-send
{
	float:left;
	width: 98%;
	margin: 35px 0px 0px 0px;
}
.msg-send textarea
{
	padding: 10px 10px;
	margin: 0px 0px 0px 0px;
	float:left;
	width: 95%;
	height: 260px;
	border: none;
}

.msg-sub
{
	float:left;
	width: 302px;
}
.msg-sub input
{
	padding: 15px 0px;
	margin: 20px 0px 0px 0px;
	float:left;
	font-weight:bold;
	color:#FFF;
	font-size: 20px;
	background-color:#333;
	width: 250px;
	border: none;
}

/*************msg-part-close*******************************/


/*************footer-part-open*******************************/

.footer
{
	width:100%;
	float:left;
	min-height:55px;
	height:auto;
	background-color:#000;
}
.footer-wreper
{
	width:1170px;
	margin:0px auto;
}
.footer-wraper p
{
	padding: 14px 0px;
	margin:0px 0px;
	color:#FFF;
	text-align: center;
	font-size: 23px;
}
.footer-wraper span
{
	padding: 14px 0px;
	margin:0px 0px;
	color:#F00;
	text-align: center;
	font-size: 23px;
		font-family:Arial, Helvetica, sans-serif;

}
/*************footer-part-close*******************************/


/*************About-part*********About-part*******About-part***************/

/***************About-banner-part-open*******************************/
.About-banner
{
	width:100%;
	min-height:250px;
	height:auto;
	float:left;
	background:url(../img/About-Us-Banner.jpg);
}
/***************About-banner-part-close*******************************/

/***************About-About-us-part-open*******************************/
.about-us
{
	width:100%;
	min-height: 500px;
	height:auto;
	float:left;
	background-color: #cccccc4f;
}
.about-us-wraper
{
	width:1170px;
	margin:0px auto;
}
.about-box
{
	padding: 0px 0px;
	margin: 80px 0px 15px 0px;
	float:left;
	width: 565px;
	min-height: 450px;
	height:auto;
	/* border:1px solid #000; */
}
.about-box img
{
	padding: 0px 0px;
	margin:0px 0px 0px 0px;
	float:left;
	width: 100%;
	box-shadow: 0px 0px 12px 2px #4e4e50;
	border-radius: 48px;
	height: 403px;
}
.about-box-right
{
	padding: 0px 0px;
	margin: 80px 0px 0px 0px;
	float:right;
	width: 575px;
	min-height: 450px;
	height:auto;
	/*border:1px solid #000;*/
}
.line-right
{
	padding: 0px 0px 0px 0px;
	margin: 40px 0px 0px 18px;
	float:left;
	width:100px;
	height:5px;
	background-color:#F00;
}
.about-box-right h1
{
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px -2px;
	width:300px;
	text-align: center;
	font-size: 30px;
	color:#F00;
}
.about-box-right p
{
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 0px 19px;
	/* width: 100%; */
	line-height: 25px;
	text-align: justify;
	float:left;
	font-family: cursive;
	font-size: 17px;
	color: black;
}
.about-box-right input
{
	padding: 15px 28px;
	margin: 30px 0px 0px 20px;
	float:left;
	border: none;
	border-radius: 4px;
	background-color:#09F;
	color:#FFF;
}

.about-in
{
	width:165px;
	float:left;
}
.about-in input
{
	padding: 15px 28px;
	margin: 30px 0px 0px 10px;
	float:left;
	border: none;
	border-radius: 4px;
	background-color: #0b0c0c;
	color:#FFF;
}





/***************About-About-us-part-close*******************************/


/***************About-number-part-close*******************************/

.number
{
	width:100%;
	min-height:350px;
	height:auto;
	float:left;
	background:url(../img/g5.jpg);
}
.number-wreper
{
	width:1170px;
	margin:0px auto;
}
.num-box
{
	padding:0px 0px;
	margin: 65px 21px;
	float:left;
	width:250px;
	min-height: 220px;
	height:auto;
	/*border:1px solid #FFF;*/
}
.num-box img
{
	padding: 11px 94px;
	margin:0px 0px 0px 0px;
	float:left;
	width: 60px;
	height: 60px;
}
.num-box h3
{
	padding: 0px 0px;
	margin: 2px 0px;
	width:100%;
	text-align: center;
	font-size: 50px;
	color:#FFF;
}
.num-box p
{
	padding: 4px 0px;
	margin:0px 0px;
	color:#FFF;
	width:100%;
	text-align: center;
	font-size: 23px;
	font-family:Arial, Helvetica, sans-serif;
}
/***************About-number-part-close*******************************/

/***************About-skill-part-open*******************************/
.about-skill
{
	width:100%;
	min-height: 500px;
	height:auto;
	float:left;
	background-color: #cccccc4f;
}
.about-skill-wraper
{
	width:1170px;
	margin:0px auto;
}




/***************About-skill-part-close*******************************/
